<div class="container">
    <div class="row d-flex justify-content-between">
        <div class="col">
            <p class="">Hello [User]</p>
            <p class="">[Type] Account</p>
            <p class="">Account ID: [ID]</p>
            <div class="row">
                <p class="col">Account Status: [STATUS]</p>
                <button type="button" class="btn btn-danger col btn-sm">Deactivate</button>
            </div>
        </div>
        <div class="col"></div>
        <div class="col">
            <p>Balance:</p>
            <p style="font-size: 3em;">[BALANCE]</p>
        </div>
    </div>
    <div class="row m-5">
            <button type="button" class="btn btn-danger col mx-5">Deposit</button>
            <button type="button" class="btn btn-success col mx-5">Withdraw</button>
            <button type="button" class="btn btn-warning col mx-5">Transfer</button>
    </div>
</div>