<div class="container" th:object="${account}">
    <div class="row d-flex justify-content-between">
        <div class="col">
            <p class="mt-3 fs-3">Hello <span th:text="*{customerName}"></span> (<span th:text="*{customerNRIC}"></span>)</p>
            <p class="mt-3"><span th:text="*{accountType.accountTypeName}"></span> Account</p>
            <p class="mt-3">Account ID: <span th:text="*{accountID}"></span></p>
            <div class="row">
                <p class="col d-flex mt-3">Account Status: <span th:text="*{accountIsActive} == 1 ? 'ACTIVE' : 'INACTIVE'"></span></p>
                <div class="col" th:switch="*{accountIsActive}">
                    <button type="button" class="btn btn-danger btn-sm" th:case="1">Deactivate</button>
                    <button type="button" class="btn btn-success btn-sm" th:case="0">Activate</button>
                </div>
            </div>
        </div>
        <div class="col"></div>
        <div class="col">
            <p>Balance:</p>
            <p style="font-size: 3em;" th:text="*{accountBalance}"></p>
        </div>
    </div>
    <div class="row m-5" th:if="*{accountIsActive} == 1">
            <a class="col mx-5 d-flex justify-content-center btn btn-danger" th:href="'/transact/deposit/' + *{accountID}">Deposit</a>
            <a class="col mx-5 d-flex justify-content-center btn btn-success" th:href="'/transact/withdraw/' + *{accountID}">Withdraw</a>
            <a class="col mx-5 d-flex justify-content-center btn btn-warning" th:href="'/transact/transfer/' + *{accountID}">Transfer</a>
    </div>
</div>