<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <!-- xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"> -->
  <head>
    <meta charset="ISO-8859-1" />
    <title>Insert title here</title>
    <style>
      tr,
      td,
      th {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <p>Logged in as : <span sec:authentication="name"></span></p>
    <p>
      You have:
      <span sec:authentication="principal.authorities[0]"></span> privilege
    </p>
    <!-- <div sec:authorize="hasAnyAuthority('Admin')">
			<span>Tested</span>
		</div> -->

    <table>
      <thead class="thead-dark">
        <tr>
          <th>User Id</th>
          <th>User Name</th>
          <!-- <th>Enabled</th> -->
          <th>Role</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="u:${usersList}">
          <td th:text="${u.id}"></td>
          <td th:text="${u.username}"></td>
          <td th:text="${u.userRoles}"></td>
        </tr>
      </tbody>
    </table>

    <form action="/logout" method="post">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
